:root{
    --verde : #22c55e;
    --cinza : #555;
}
.interacoes{
    margin-top: 2rem;
    text-align: center;
}

.lista{
    padding: 0.75rem;
    background-color: #0b1220;
    color: #cbd5e1;
    font-weight: 500;
}

.lista li:nth-child(1){
    background-color: rgba(214, 213, 203, 0.4);
    font-size: 18pt;
    color: yellow;
}

.botao{
    background-color: var(--verde);
    border: none;
    padding: 0.75rem;
    border-radius: 990px;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.botao:hover{
    background-color: black;
    color: white;
    box-shadow: 0 8px 8px rgba(112, 112, 112, 0.35);
    transform: scaleY(-2px);
}
.testo{
    width: 80%;
}
.texto::first-letter{
    font-size: 2,5rem;
    color: blue;
    font-weight: bold;

}

.texto::first-line{
    text-transform: uppercase;

}

::selection{
    background-color: var(--cinza);
    color: rgb(0, 0, 0);
}